.WeatherForecast {
  text-align: center;
}

.WeatherForecast .forecastTemperatureMin {
  margin-left: 10px;
  opacity: 0.8;
}

.WeatherForecast .forecastIcon {
  width: 80px;
  display: block;
  margin: auto;
}
